h1 {
	font-size: 45px;
	background-color: purple;
	color: orange;
	height: 60px;
	text-align: center;
	padding: 20px;


}

h2 {
	font-size: 35px;
	background-color: gray;
	color: black;
	width: 600px;
	height: 40px;
	text-align: center;
	padding: 20px;
}